<!DOCTYPE html>
<html>
<head>
	<title>Picas y Fijas V 2.1</title>
</head>
<body>
	<h1 align="Center">Picas y Fijas</h1>
	<h4 align="Center">Intento 1</h4>

	<form align="Center" action="/juego" method="post">
	      <input type="text" name="numero">  
	      <input type="submit" value="Try"> 
	      <h2><%= session["resultado"] %></h2>
	</form>
	
</body>
</html>