<!DOCTYPE html>
<html>
<head>
	<title>Picas y Fijas V 2.1</title>
</head>
<body>
<<<<<<< HEAD
<h1 align="Center"align="">Picas y Fijas</h1>
<h4 align="Center">Intento 1</h4>
=======
<h4>Picas y Fijas</h4>
<h1>Intento 1</h1>
<input type="text" name="numero">
No son iguales
>>>>>>> 9c4fad60eac709bd478599e9ec9bdc8b4b3a52af
</body>
</html>